
/* Student Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

* {
  background-color: #614949;
  
}

h1 {
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}